html, body {
height: 100%;
}

body {
  background-color:  hsl(185, 41%, 84%);
  font-family: Space Mono, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}


p {
  margin: 0;
}

button {
  font-family: Space Mono, sans-serif;
}

#splitter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 20px;
  padding: 30px ;
  max-width: 800px; 
}

#right {
  background-color: hsl(183, 100%, 15%);
  display: flex;
  flex-direction: column;
  padding: 35px 30px;
  border-radius: 10px;
  position: relative;
  margin-left: 50px;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
 
  
}

#reset-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: hsl(186, 14%, 43%);
  color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
}

#reset-button:hover {
  background-color: hsl(172, 67%, 45%);
}

.amount-number {
  font-size: 40px;
  color: hsl(172, 67%, 45%);
}


#tip-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.tip-button {
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-family: Space Mono;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.tip-button:hover {
  background-color:  hsl(172, 67%, 45%);
  color:hsl(183, 100%, 15%) ;
}

#custom-button {
  background-color: hsl(189, 41%, 97%);
  border: none;
  width: 100%;
  border-radius: 5px;
  font-family: Space Mono;
  text-align: right;
  font-size: 20px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  
}

#custom-button::placeholder {
  color: hsl(184, 14%, 56%);
}

#custom-button:focus, #custom-button:hover {
  outline-color: hsl(172, 67%, 45%);
  outline-style: solid;
  outline-width: medium;
  border-radius: 5px;
  color: hsl(183, 100%, 15%);
  
}

.description {
  color: hsl(186, 14%, 43%);
  margin-bottom: 10px;
}

.amount-text {
  color: white;
  font-size: 16px;
}

.person-text {
  color: hsl(186, 14%, 43%)
}

#input-div1, #input-div2 {
  position: relative;
}

img {
  position: absolute;
  left: 15px;
  top: 15px;
  bottom: 10px;
  height: 20px;
}


#bill-input, #people-input {
  border: none;
  text-align: right;
  background-color: hsl(189, 41%, 97%);
  font-family: Space Mono;
  font-size: 30px;
  color: hsl(185, 41%, 84%);
  width: calc(100% - 1em);
  padding:4px 20px 0px;
  cursor: pointer;
  
}

#bill-input {
  margin-bottom: 30px;
}

#bill-input:focus, #people-input:focus, #bill-input:hover, #people-input:hover {
 outline-color: hsl(172, 67%, 45%);
 outline-style: solid;
 outline-width: medium;
 border-radius: 5px;
 color:hsl(183, 100%, 15%) ;
}

::placeholder {
  color: hsl(185, 41%, 84%);
}

::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


#cantbe {
  display: flex;
  justify-content: space-between;
}

#cantbe-text1, #cantbe-text2 {
  color: red;
  display: none;
}

.attribution {
  position: fixed;
  bottom:0;
}